<%= form_for @user do |f| %>
	<div>
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
	<div>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>	
	<div>
		<%= f.text_field :password, placeholder: "Password" %>
	</div>	
	<div>
		<%= f.text_field :password, placeholder: "Confirm Password" %>
	</div>			
	<div>
		<%= f.submit %>
	</div>
<% end%>
