<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
          <% if logged_in? %> <!-- If logged in -->
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %> <!-- If logged out -->
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
    <%= yield %>
  </body>
</html>
