<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
		<%= stylesheet_link_tag 'https://code.getmdl.io/1.2.1/material.light_blue-red.min.css' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"> <%= link_to "Thinx Forum", posts_path %></span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if logged_in? %>
              <span class="mdl-navigation__link">
              <a class="material-icons mdl-color-text--white mdl-badge mdl-badge--overlap" href="<%= messages_path %>"
                <%if current_user.received_messages.any? %> data-badge="<%= current_user.received_messages.count %>"> <% end %>
                message
              </a>
              </span>
            <%= link_to "Log Out", logout_path, method: :delete, class: "mdl-navigation__link"  %></a>
            <span class="mdl-navigation__link">Hello, <%= current_user.name %>            
            <% else %>
            	<%= link_to "Register", register_path, class: "mdl-navigation__link" %></li>
            	<%= link_to "Log In", login_path, class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">More About Thinx</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="https://www.shethinx.com/pages/it-works">How it Works</a>
          <a class="mdl-navigation__link" href="https://www.shethinx.com/pages/periodical">Blog</a>
          <a class="mdl-navigation__link" href="https://www.shethinx.com/pages/about-us">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
